@font-face {
    font-family: "sans-bold";
    src: url("./../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "sans-regular";
    src: url("./../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "sans-light";
    src: url("./../fonts/OpenSans-Light.ttf");
}