a{
    color: inherit;
}

.page-title{
    h3{
        font-size: 48px;
        color: #58595B;
        font-family: "sans-bold";
        margin: 0;
    }
    p{
        font-size: 24px;
        color: #58595B;
        font-family: "sans-light";
    }
}

.page-content{
    .tabs{
        display: flex;
        background-color: #f9f9fa;
        justify-content: center;
        padding: 10px;
        li{
            a{
                cursor: pointer;
                padding: 8px 0;
                margin: 0 15px;
                border-bottom: solid 2px transparent;
                font-size: 20px;
                color: #58595B;
                font-family: "sans-regular";
            }

            &:hover{
                a{
                    color: #0A7CAE;
                    //border-bottom: solid 2px #009bdb;
                    font-family: "sans-bold";
                }
            }
        }
        .active{
            a{
                border-bottom: solid 2px #009bdb;
                font-family: "sans-bold";
            }
        }

    }
}