@import 'fonts.scss';
@import 'main.scss';
@import 'tab.scss';

body{
    margin: 0;
}

.sample-page{
    .main-container{
        // max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        
        .page-title{
            padding: 20px 0;
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

ul{
    list-style: none;
}
