.content{
    max-width: 1200px; 
    margin: 0 auto;

            .block{
                // padding: 0 24px 24px 0;
                img{
                    width: 100%;
                }

                .info-block{
                    padding: 0 15px;

                    .sub-info{
                        padding: 10px 21px 23px;
                      p{
                          margin: 0;
                          margin-bottom: 23px;
                          display: flex;
                          align-items: center;

                          img{
                              width: 32px;
                              height: 32px;
                              margin-right: 16px;
                          }
                          a{
                            color: #0B82B5;
                            font-size: 16px;
                            font-family: "sans-regular";
                        }
                      }
                    }
                }

                h1{
                    text-align: center;
                    font-size: 20px;
                    color: #59595B;
                    margin: 0;
                    border-bottom: 1px solid #E6E7E8;
                    line-height: 40px;
                    font-family: "sans-bold";
                }
            }


}


.tab-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .col {
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: 9px;
        padding-left: 9px;
        box-sizing: border-box; 
    }

    .col-span-4 { 
        flex-basis: 33.3333%;
      }
}

@media only screen and (max-width: 1030px) {
    .tab-section {
        .col-span-4 {
            flex-basis: 50%;
        }
    }
}

@media only screen and (max-width: 690px) {
    .tab-section {
        .col-span-4 {
            flex-basis: 100%;
        }
    }
}
@media only screen and (max-width: 560px) {
    body{
        .sample-page .main-container .page-title{
            width: 90%;
        }
        .page-content .tabs .active a{
            font-size: 16px;
            
        }

        .page-content .tabs li a{
          padding: 13px 0;
        }
    }
}

@media only screen and (max-width: 500px) {
    body{
        .page-content {
            .tabs{
                justify-content: space-around;
                padding: 10px 0;
    
                li{
                    a{
                        font-size: 14px;
                        margin: 0 5px;
                        padding: 8px 0;
                    }
                }
                .active{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 340px) {
    body{
        .page-content {
            .tabs{
              
                li{
                    a{
                        font-size: 12px;
                    }
                }
                .active{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}