@font-face {
  font-family: "sans-bold";
  src: url("./../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "sans-regular";
  src: url("./../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "sans-light";
  src: url("./../fonts/OpenSans-Light.ttf"); }
.text-link {
  color: #0B82B5;
  font-size: 16px;
  font-family: "sans-regular";
  text-decoration: underline; }

/*# sourceMappingURL=s-style.css.map */
