@font-face {
  font-family: "sans-bold";
  src: url("./../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "sans-regular";
  src: url("./../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "sans-light";
  src: url("./../fonts/OpenSans-Light.ttf"); }
a {
  color: inherit; }

.page-title h3 {
  font-size: 48px;
  color: #58595B;
  font-family: "sans-bold";
  margin: 0; }
.page-title p {
  font-size: 24px;
  color: #58595B;
  font-family: "sans-light"; }

.page-content .tabs {
  display: flex;
  background-color: #f9f9fa;
  justify-content: center;
  padding: 10px; }
  .page-content .tabs li a {
    cursor: pointer;
    padding: 8px 0;
    margin: 0 15px;
    border-bottom: solid 2px transparent;
    font-size: 20px;
    color: #58595B;
    font-family: "sans-regular"; }
  .page-content .tabs li:hover a {
    color: #0A7CAE;
    font-family: "sans-bold"; }
  .page-content .tabs .active a {
    border-bottom: solid 2px #009bdb;
    font-family: "sans-bold"; }

.content {
  max-width: 1200px;
  margin: 0 auto; }
  .content .block img {
    width: 100%; }
  .content .block .info-block {
    padding: 0 15px; }
    .content .block .info-block .sub-info {
      padding: 10px 21px 23px; }
      .content .block .info-block .sub-info p {
        margin: 0;
        margin-bottom: 23px;
        display: flex;
        align-items: center; }
        .content .block .info-block .sub-info p img {
          width: 32px;
          height: 32px;
          margin-right: 16px; }
        .content .block .info-block .sub-info p a {
          color: #0B82B5;
          font-size: 16px;
          font-family: "sans-regular"; }
  .content .block h1 {
    text-align: center;
    font-size: 20px;
    color: #59595B;
    margin: 0;
    border-bottom: 1px solid #E6E7E8;
    line-height: 40px;
    font-family: "sans-bold"; }

.tab-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .tab-section .col {
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 9px;
    padding-left: 9px;
    box-sizing: border-box; }
  .tab-section .col-span-4 {
    flex-basis: 33.3333%; }

@media only screen and (max-width: 1030px) {
  .tab-section .col-span-4 {
    flex-basis: 50%; } }
@media only screen and (max-width: 690px) {
  .tab-section .col-span-4 {
    flex-basis: 100%; } }
@media only screen and (max-width: 560px) {
  body .sample-page .main-container .page-title {
    width: 90%; }
  body .page-content .tabs .active a {
    font-size: 16px; }
  body .page-content .tabs li a {
    padding: 13px 0; } }
@media only screen and (max-width: 500px) {
  body .page-content .tabs {
    justify-content: space-around;
    padding: 10px 0; }
    body .page-content .tabs li a {
      font-size: 14px;
      margin: 0 5px;
      padding: 8px 0; }
    body .page-content .tabs .active a {
      font-size: 14px; } }
@media only screen and (max-width: 340px) {
  body .page-content .tabs li a {
    font-size: 12px; }
  body .page-content .tabs .active a {
    font-size: 12px; } }
body {
  margin: 0; }

.sample-page .main-container {
  width: 100%;
  margin: 0 auto; }
  .sample-page .main-container .page-title {
    padding: 20px 0;
    width: 50%;
    margin: 0 auto;
    text-align: center; }

ul {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
